/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Apr-2016, 11:36:43 AM
    Author     : c0641903
*/

@import url(https://fonts.googleapis.com/css?family=Play);

body {
    font-family: 'Play', sans-serif;
}
td h3 {
    text-align: right;
}
#loginButton td {
    alignment-baseline: central;
}
#loginButton input {
    width: 100%;
}
#registerButton input {
    width: 100%;
}